<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="header">
    <div class="row">
        <img src="./images/location.png" class="header__image" alt="an image of a map and location">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </div>
</header>

<main class="main">
    <div class="row">
        <section class="main__tagging tagging col-4">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">

                <!-- ... your code here ... -->
                <fieldset>
                    <legend>Add a new location</legend>
                    <label for="taggingLatitude">Latitude</label>
                    <input id="taggingLatitude" name="taggingLatitude" type="number" step="0.001"/>
                    <label for="taggingLongitude">Longitude</label>
                    <input id="taggingLongitude" name="taggingLongitude" type="number" step="0.001"/>
                    <label for="taggingName">Name</label>
                    <input id="taggingName" name="taggingName" maxlength="10" placeholder="e.g. Cafeteria Moltkestrasse" required/>
                    <label for="taggingHashtag">Hashtag</label>
                    <input id="taggingHashtag" name="taggingHashtag" maxlength="11" placeholder="e.g. #HKA" pattern="#[a-zA-Z0-9]+"/>
                    <input type="submit" id="addButton" value="Add"/>
                </fieldset>
            </form>

            <script>
                let tagLat = document.getElementById("taggingLatitude");
                let tagLong = document.getElementById("taggingLongitude");
                let searchLat = document.getElementById("searchLatitude");
                let searchLong = document.getElementById("searchLongitude");

                if (tagLat.value !== null) searchLat.value = tagLat.value;
                if (tagLong.value !== null) searchLong.value = tagLong.value;
            </script>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery col-8">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                <!-- ... your code here ... -->
                <fieldset>
                    <legend>Find a saved location</legend>
                    <label for="searchterm">Search term</label>
                    <input id="searchterm" name="searchterm" placeholder="Type in your search here..."/>
                    <input type="hidden" id="searchLatitude" name="searchLatitude" value=""/>
                    <input type="hidden" id="searchLongitude" name="searchLongitude" value=""/>
                    <input type="submit" id="searchButton" value="Search">
                </fieldset>

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper">
                <div class="discovery__taglist col-4">
                    <ul class="discovery__results" id="discoveryResults">
                        <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                            <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                        <% }); %>
                    </ul>
                </div>

                <div class="discovery__map col-8">
                    <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" data-tags=""/>
                    <% function updateTags() { document.getElementById("mapView").dataset.tags = JSON.stringify(taglist) } %>
                    <span>Result map</span>
                </div>
            </div>
        </section>
    </div>
</main>

<footer class="footer">
    <div class="row">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </div>
</footer>

<!-- Load JavaScripts
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./javascripts/geotagging.js"></script>
<script src="./javascripts/location-helper.js"></script>
<script src="./javascripts/map-manager.js"></script>
</body>

</html>
